/* 예약한 강의페이지 */
@charset "UTF-8";

/* 메인 오른쪽 전체 */
.page {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* 강의 박스 */
.list {
	display: flex;
	margin-top: 20px;
	border: 1px solid #ccc;
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px;
}

/* 제목 */
.lec {
	font-size: 1.2em;
	font-weight: bolder;
}

/* 내용 */
.lec_info {
	font-size: 1.2em;
	margin-left: 20px;
	font-weight: bolder;
}

/* 영상 업로드 */
#btn_popup_open {
	position: absolute;
	height: 35px;
	bottom: 1em;
	right: 1em;
	color: white;
}

/* 수강 후기 */
.popup_panel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100
}

.popup_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50)
}

.popup_contents {
	position: absolute;
	top: 30%;
	left: 35%;
	width: auto;
	height: 500px;
	background-color: #fff;
}

/* 수강후기 컨테이너 */
#container {
	margin: auto;
	background-color: #fff;
	max-width: 600px;
	height: 550px;
	padding: 15px 30px;
}

/* 수강 후기 페이지 */
.form-wrap {
	color: #333;
	font-family: 'NanumSquareRound';
 }
 
.form-wrap h3{
	text-align: center;
}

.form-group{
  text-align: center;
  margin-top: 15px;
}

.form-group div {
	margin: 15px 0;
}
 
.form-group input{
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 15px;
  outline: none;
}

.form-group input:focus { 
	border: 1px solid black;
}

#secret {
  width: unset;
  margin: 0 5px;
}
#file-upload-button {
	font-size: 18px;
}

#chapter_id {
  width: 100%;
}

#upload-btn{
  display: block;
  margin-top: 20px;
  background-color: #0C151C;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
}

#upload-btn:hover {
	background-color: #333b3d;
}