@charset "UTF-8";

/* 메인 */
.main {
 	display: flex;
 }

/* 메인 왼쪽 박스 */
.mybox {
	display: flex;
	flex-direction: column;
	font-size: 26px;
	width: 20%;
	height: 100%;
}

/* 왼쪽 강의내역, 회원정보 */
.mybox h3 {
	margin-bottom: 16px;
}

.mybox p:hover {
	background-color: rgb(248, 248, 249);
	border-radius: 8px;
}

/* 메인 오른쪽 박스 */
.page {
	width: 80%;
	padding: 0 10px;
}

/* 강사페이지 [강의내역, 회원정보] 폰트 */
.small {
	font-size: 0.7em;
	padding: 8px 12px;
}

.small:focus, a:hover {
	font-weight: bold;
	color: black;
}