@charset "UTF-8";

/* 전체 그리드 */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 70vw 1fr;
	grid-template-rows: 140px 1fr 260px;
	gap: 0px 0px;
	grid-template-areas: ". header ." ". main ." "footer footer footer";
}

/* 메인 */
.main {
  grid-area: main; 
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif; 
}