@charset "UTF-8";

/* 폰트 설정 */
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 레이아웃 */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "NanumSquareRound";
  /* background-color: rgb(248, 248, 249); */
}

/* 태그 설정 */
a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

h4 {
  margin: 0;
  font-size: 1.25em;
  font-weight: 700;
}

/* 전체 그리드 */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 70vw 1fr;
  grid-template-rows: 140px 500px 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". header ."
    ". slider ."
    ". main .";
}
 
/* 헤더 */
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 235px 1fr;
  grid-template-rows: 90px 50px;
  gap: 0px 0px;
  grid-template-areas:
    "logo top"
    "bottom bottom";
  align-items: center;
  margin: 0;
}

.header__logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__top {
  grid-area: top;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.header__right {
  margin-top: 4px;
  height: 60%;
}

.input-group {
  margin-left: 24px;
  width: 30%;
  height: 40%;
}

.input-group:focus-within {
  width: 40%;
  transition: 0.5s;
}

#search:focus {
  outline: none;
  border: none;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
}

.header__bottom {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* a태그 효과 */
.right a,
.bottom a {
  transition: all 100ms ease;
}

.right a:hover,
.bottom a:hover {
  color: white;
  font-weight: bold;
}

.right a:hover {
  color: black;
}

/* 메뉴바 */
nav {
  background-color: #00acee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

nav > a {
  color: white;
}

/* 슬라이더 */
#slider {
  grid-area: slider;
  position: relative;
  margin-bottom: 8em;
}

#slider > div > * {
  width: auto;
  height: 500px;
}

/* 메인 */
.main {
  grid-area: main;
  margin: 2em;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

/* 푸터 */
.footer {
  border-top: 1px solid #ccc;
  grid-area: footer;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  /* font-weight: 500; */
  font-size: 18px;
}

.column__title {
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.5;
  font-weight: bold;
}

.footer__column ul {
  text-align: center;
  padding: 0px;
}

.footer__column li {
  margin-bottom: 15px;
  list-style: none;
  font-size: 0.9em;
}


















.fa-star {
	color: yellow;
}


.card{
	position:relative;
}


.caption{
	opacity: 0;
	position:absolute;
	top: 0; left:0;
	transition:0.5s;
	background-color: grey;
	width: 240px;
	height: 255px;
}

.caption .intro{
	position: absolute;
	margin: 20px;
}


.card:hover .caption{
	opacity:0.8;
}