@charset "UTF-8";


/* 폰트 설정 */
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 레이아웃 */
* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "NanumSquareRound";
}
ul {
  list-style: none;
}

.card > a{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  outline: none;
  cursor:pointer;
}

/* 메인페이지 전체 그리드 */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 70vw 1fr;
	grid-template-rows: 51px 500px 1fr;
	gap: 0px 0px;
	grid-template-areas: "header header header" "slider slider slider" ". main .";
}

/* 슬라이더 */
#slider {
	grid-area: slider;
	position: relative;
}

#slider div img {
	width: 100%;
	height: 500px;
}

/* 메인 */
.main {
	grid-area: main;
	margin: 2em;
	font-family: "Open Sans", sans-serif;
	display: flex;
	flex-direction: column;
}

.fa-star {
	color: yellow;
}

.card {
	box-sizing: content-box;
	position: relative;
	width: 15rem;
	margin: auto;
	z-index:0;
}


.card-img-top {
	height: 160px
}

.caption {
	box-sizing: content-box;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
	background-color: black;
	width: 15rem;
	height: 100%;
}

.caption .intro {
	position: absolute;
	margin: 20px;
}

.caption:hover {
    opacity: 0.8;
    color: white;
} 

.accordion-button{
	background-color:#e7f1ff;
	color:#0c63e4;
}
.accordion-button::after{
	    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.end__wrapper-btn{
    background-color: black;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
	.grid-container {
	  display: grid;
	  grid-template-columns: 100vw;
	  grid-template-rows: 51px 500px 1fr 260px;
	  gap: 0px 0px;
	  grid-template-areas:
	    "header"
	    "slider"
	    "main"
	    "footer";
	}
}
