@charset "UTF-8";

html, body {
	margin: 0px; padding: 0px;
}

ol, ul{
	list-style-type: none;
	padding-left: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
