@charset "UTF-8";

/* 푸터 */
.footer {
	border-top: 1px solid #ccc;
	grid-area: footer;
	font-family: 'Open Sans', sans-serif;
	background-color: black;
	color: white;
}

.footer__wrapper {
	max-width: 70vw;
	margin: 0 auto;
}

/* 푸터 위쪽 */
.footer__top {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
}

.top__column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.1em;
}

/* 컬럼 주요 메뉴 */
.column__title {
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 20px;
}

.column__title img {
	width: 150px;
	height: 35px;
	margin-bottom: 5px;
}

.top__column ul, .bottom__column ul {
	text-align: center;
	padding: 0px;
}

.top__column li {
	margin-bottom: 15px;
	list-style: none;
	font-size: 16px;
}

/* 푸터 아래쪽 */
.bottom__column {
	display: flex;
	align-items: center;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	font-size: 11px;
}

/* 푸터 아래쪽 왼쪽 */
.left__title {
	display: flex;
	flex-direction: column;
	font-weight: 500;
}

.left__title span {
	margin-bottom: 5px;
	font-size: 14px;
}

/* 푸터 아래쪽 오른쪽 */
.right__title a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: black;
    line-height: 50px;
    font-size: 30px;
    color: white;
    margin-left: 10px;
}

.right__title a:hover {
	color: #ccc;
}