@charset "UTF-8";

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'NanumSquareRound';
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1.8fr 0.3fr;
  grid-template-rows: 0.1fr 0.7fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    ". header ."
    ". slider ."
    ". main .";
}
*{margin: 0px; padding: 0px;}

a{text-decoration: none; color: black;  display: inline-block; font-size: 1.2em;}

a:visited{text-decoration: none; color: black;}

a:hover{text-decoration: none; color: black;}

.header {
  display: grid;
  grid-template-columns: 0.4fr 1.4fr;
  grid-template-rows: 0.3fr 1.0fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo blank"
    "logo top"
    "logo bottom";
  grid-area: header;
}
.logo { grid-area: logo; display: flex; flex-direction: column; justify-content: center ; }

.top{grid-area: top; display: flex; justify-content: space-between ; align-items: flex-end; }

.right{height: 60%;}

.right{ line-height: 1.5em;}

.input-group{ width: 30%; height: 40%;}

.input-group:focus-within{width: 45%; transition: 0.5s;}

#search:focus{
  outline: none;
  border: none;
  border-right:0px; 
  border-top:0px; 
  border-left:0px; 
  border-bottom:0px;
}

.slider{
  grid-area: slider;
  width: auto;
  height: 500px;
  overflow: hidden;
   display: flex;
  justify-content: center;
  color: white;
}

#slider-div{
  width: 95%; height: 100%; 

}

.bottom{grid-area: bottom; display: flex; flex-direction: column; justify-content: flex-end;}

nav{width: 100%;}

nav>a{ font-size: 1em; width: 24%; height: 50%; text-align: center; display: inline-block;}

a:hover{font-weight: bolder;}

.main { grid-area: main; display: flex; flex-direction: column; justify-content: center; margin: 2em;}

hr{color: gray;}

.footer { text-align: center;}



.fas .fa-star {
	color: yellow;
}

/* .type { */
/* 	width: 40px; */
/* 	height: 40px; */
/* } */

.card-img-top {
	width: 240px; height: 130px;
}


ul { list-style: none; }

.card{
	position:relative;
}


.caption{
	opacity: 0;
	position:absolute;
	top: 0; left:0;
	transition:0.5s;
	background-color: grey;
	width: 240px;
	height: 255px;
}

.caption .intro{
	position: absolute;
	margin: 20px;
}


.card:hover .caption{
	opacity:0.8;
}