@charset "UTF-8";


/* 폰트 설정 */
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 레이아웃 */
* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "NanumSquareRound";
}
ul {
  list-style: none;
}

a{
	all:unset;
	text-decoration: none;
  color: black;
  font-size: 1.2em;
  outline: none;
}
/* 메인페이지 전체 그리드 */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 70vw 1fr;
	grid-template-rows: 51px 500px 1fr 260px;
	gap: 0px 0px;
	grid-template-areas: "header header header" "slider slider slider" ". main ."
		"footer footer footer";
}

/* 슬라이더 */
#slider {
	grid-area: slider;
	position: relative;
}

#slider div img {
	width: 100%;
	height: 500px;
}

/* 메인 */
.main {
	grid-area: main;
	margin: 2em;
	font-family: "Open Sans", sans-serif;
	display: flex;
	flex-direction: column;
}

.fa-star {
	color: yellow;
}

.card {
	position: relative;
		width: 15rem;
	margin: auto;
}

.caption {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
	background-color: grey;
	width: 240px;
	height: 255px;
}

.caption .intro {
	position: absolute;
	margin: 20px;
}

.card:hover .caption {
	opacity: 0.8;
}

@media screen and (max-width: 1024px) {
	.grid-container {
	  display: grid;
	  grid-template-columns: 100vw;
	  grid-template-rows: 51px 500px 1fr 260px;
	  gap: 0px 0px;
	  grid-template-areas:
	    "header"
	    "slider"
	    "main"
	    "footer";
	}
}
