@charset "UTF-8";

/* 폰트 설정 */
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 레이아웃 */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "NanumSquareRound";
}

/* 태그 설정 */
a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

/* 전체 그리드 */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 70vw 1fr;
  grid-template-rows: 140px 500px 1fr 260px;
  gap: 0px 0px;
  grid-template-areas:
    ". header ."
    ". slider ."
    ". main ."
    "footer footer footer";
}
 
/* 헤더 */
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 235px 1fr;
  grid-template-rows: 90px 50px;
  gap: 0px 0px;
  grid-template-areas:
    "logo top"
    "bottom bottom";
  align-items: center;
}

.header__logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 검색창 */
.header__top { 
  grid-area: top; 
  display: flex; 
  justify-content: space-between ; 
  margin-top: 16px;
}

/* 검색창 */
.input-group { 
  margin-left: 24px;
  width: 30%; 
  height: 40%; 
}

.input-group:focus-within { 
  width: 45%; 
  transition: 0.5s;
}

#search:focus {
  outline: none;
  border: none;
  border-right:0px; 
  border-top:0px; 
  border-left:0px; 
  border-bottom:0px;
}

/* 헤더 메뉴 */
.header__right { 
  margin-top: 4px;
  height: 60%;
}

/* 상단 메뉴 */
.header__bottom { 
  grid-area: bottom; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end;
}

/* a태그 효과 */
.header__right a:hover,
.header__bottom a:hover {
color: white;
font-weight: bold;
}

.header__right a:hover,
.item__intro a:hover { 
  color: black;
  font-weight: bold;
}

/* 메뉴바 */
nav { 
  height: 50px;
  background-color: #00acee;;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav > a { 
  color: white;
}

/* 슬라이더 */
#slider {
  grid-area: slider;
  position: relative;
  margin-bottom: 8em;
}

#slider > div > * {
  width: auto;
  height: 500px;
}

/* 메인 */
.main {
  grid-area: main;
  margin: 2em;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

/* 푸터 */
.footer {
  border-top: 1px solid #ccc;
  grid-area: footer;
  font-family: 'Open Sans', sans-serif;
}

.footer__wrapper{
  max-width: 70vw;
  margin: 0 auto;
}

/* 푸터 위쪽 */
.footer__top{
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.top__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1em;
}

/* 컬럼 주요 메뉴 */
.column__title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 20px;
}

.column__title img{
  width: 150px;
  height: 35px;
  margin-bottom: 5px;
}

.top__column ul,
.bottom__column ul {
  text-align: center;
  padding: 0px;
}

.top__column li{
  margin-bottom: 15px;
  list-style: none;
  font-size: 16px;
}

/* 푸터 아래쪽 */
.bottom__column{
  display: flex;
  align-items: center;
}

.footer__bottom{
  display:flex;
  justify-content: space-between;
  font-size: 11px;
}

/* 푸터 아래쪽 왼쪽 */
.left__title{
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.left__title span{
  margin-bottom: 5px;
  font-size: 14px;
}

/* 푸터 아래쪽 오른쪽 */
.right__title a{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #bdbdbd;
  line-height: 50px;
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

.right__title a:hover{
  color: #ccc;
}
















.fa-star {
	color: yellow;
}


.card{
	position:relative;
}


.caption{
	opacity: 0;
	position:absolute;
	top: 0; left:0;
	transition:0.5s;
	background-color: grey;
	width: 240px;
	height: 255px;
}

.caption .intro{
	position: absolute;
	margin: 20px;
}


.card:hover .caption{
	opacity:0.8;
}