@charset "UTF-8";

#qnaForm #file{
		display:none;
	}
#qnaForm #profilePicArea{
		border:1px solid black;
		padding:5px;
		max-width:200px;
		min-height:200px;
		position:relative;
	}
#qnaForm #profilePic{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	
#qnaForm .dragover{
		background-color: gray;
		outline:1px solid green;
		outline-offset: -10px;
	}