@charset "UTF-8";

.fa-star {
	color: yellow;
	border: 1px soild black;
}


.main{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.btn-outline-primary  {
  margin: 5px;
  width: 19%;
  height: 7%;
}

#listset{
  margin: 10px;
  width: 10%;
  height: 5%;
}
/*강의목록 시작*/
.lecturelist{
  margin-top: 2em;
  width: 100%;
  height: 90%;
}
.lectureItem{
	display: flex;
	border: 1px soild red;
	flex-wrap: wrap;
}
.lectureItem all{
	flex-wrap: wrap;
}
.lectureItem type{
	flex-wrap: wrap;
}
.list-group-item a,.card-title a, .card-text a {
	color:black;
}


/*	강의 카드*/
.card {
	margin-right: 2em;
	margin-bottom: 2em;
}
/*강의목록 끝*/

fieldset{width: 100%; margin-bottom: 5em;}

table{width: 100%;}

td{width: 20%;}

/*분류 검색 시작*/
#spam {
	display: flex;
}
#search {
	font-size: 1.8em;
	margin-top: 5px;
}
#search:hover {
	color: red;
}

/*분류 검색 시작 끝*/

/*버튼 목록*/
#allBtn:focus{
	background-color: #2E2EFE;
}
#itBtn:focus{
	background-color: #2E2EFE;
}
#financeBtn:focus{
	background-color: #2E2EFE;
}
#fitnessBtn:focus{
	background-color: #2E2EFE;
}
#creationBtn:focus{
	background-color: #2E2EFE;
}
.btn-outline-primary{
	width: 180px;
}
#buttonGroup {
	display:flex;
	justify-content: center;
}

/*선택 메시지 기능(편의성)*/
#search_msg{
	color: red;
	font-size: 0.8em;
	text-align: center;
}

/*select 박스 (정렬 선택)*/
.form-control {
	width:100px;
}
#searchGroup{
	display:flex;
	justify-content: center;
}

#undefined{
	font-size: 1.5em;
}

