@charset "UTF-8";

.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1.8fr 0.3fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 0px 0px;
    grid-template-areas:
      ". header ."
      ". main .";
  }  
.main{
      display: flex;
      flex-direction: row;
      width: 100%;
  }  
  .mybox{
      display: flex;
      flex-direction: column;
      border: 2px solid black;
      font-size: 2em;
      width: 20%;
      height: 100%;
  }
  .small{
      font-size: 0.6em;
  }
  .small:focus, a:hover{
      color: red;
  }
  .page{
      width:80%;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
  }
  .list{
      display: flex;
      margin-top: 20px;
      border: 2px solid black;
      width: 100%; height: auto;
      padding: 50px;
  }
  .lec{
      font-size: 1.2em;
    font-weight: bolder;
  }
  .lec_info{
    font-size: 1.2em;
      margin-left: 20px;
      font-weight: bolder;
  }
  #btn_popup_open{
      position: relative;
      height: 35px;
      top: 100%;
      left: 60%;
  }
  
  .popup_panel{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:100}.popup_panel .popup_bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}.popup_panel .popup_contents{position:absolute;top:30%;left:35%;width:auto;height:500px;border:2px solid #5294de;background-color:#fff}.popup_panel .popup_contents #container{border-radius:20px;margin:auto;background-color:#fff;max-width:600px;height:550px;padding:30px}.popup_panel .popup_contents .form-wrap{padding:15px 25px;color:#333}.popup_panel .popup_contents .form-wrap .form-group{margin-top:15px}.popup_panel .popup_contents .star-group{display:flex;justify-content:space-evenly;align-items:center}.popup_panel .popup_contents .form-wrap{text-align:center}.popup_panel .popup_contents #textarea{font-family:'NanumSquareRound';font-size:18px;border:solid #d3d3d3;border-radius:4px;resize:none}.popup_panel .popup_contents .form-wrap button{display:block;width:47.9%;padding:10px;margin-top:20px;margin-right:10px;background:orange;color:#fff;font-size:18px;font-weight:700;cursor:pointer;float:left;border:0;border-radius:15px}.popup_panel .popup_contents .form-wrap button:hover{background:#ff4500}.popup_panel .popup_contents .star{font-size:30px}.popup_panel .popup_contents #star_grade a{text-decoration:none;color:gray}.popup_panel .popup_contents #star_grade a.on{color:orange}