/* 구매한 강의페이지 */
@charset "UTF-8";

/* 오른쪽 전체 */
.page {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* 강의 박스 */
.list {
	border: 1px solid #ccc;
	padding: 2em;
	margin-bottom: 2em;
	width: 80%;
	height: auto;
	box-shadow: 2px 8px 12px 0 rgba(20,20,20,.02);
}

/* 박스 안에서 내용 */
.list>.content {
	display: flex;
	margin: 1em;
}

/* 내용안에 강의 제목 수강 여부 */
.list>.content>.title {
	width: 70%;
	height: 50%;
	margin: 1em;
	margin-left: 2em;
}

/* 수강 여부 버튼 */
.list>.content>.title>button {
	display: inline-block;
}

/* 이미지 */
.list>.content>img {
	width: 25%;
	height: 100%;
}