/* 찜한 강의 */
@charset "UTF-8";

/* 초기화 */
li {
	list-style: none;
}

.list-group-item, .card {
	border: none;
}

.list-group>li {
	padding-left: 0px;
}

/* 오른쪽 전체 */
.page {
	display: flex;
	flex-direction: row;
}

/* 별점 */
.fa-star {
	color: yellow;
}

#card_slider {
	display: flex;
}

 #card_slider a {
	max-height: 285.59px;
} 

.card {
	position: relative;
	margin: 0.5em;
	width: 15rem;
}

.card-img-top {
	height: 160px
}

/* 강의 설명 */
.caption {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
	background-color: grey;
	width: 100%;
	height: 100%;
}

.caption .intro {
	position: absolute;
	margin: 20px;
}

.caption .fas{
	color: red;
}

/* 호버시 설명 투명도 */
.card:hover .caption {
	opacity: 0.8;
}

.btn-wish{
	visibility: hidden;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	color: red;
}

.card:hover .btn-wish{
	visibility: visible;
}